@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('assets/styles/global/spaces');

:root {
	--white: #FFFFFF;
	--white-blue: #DBF8FF;
	--white-blue-dark: #B3DAE2;
	--background: #EBF2F5;
	--text-highlight: #b3b9FF;
	--black: #4D6F80;
	--gray-1: #F5F8FA;
	--gray-2: #EAEEF0;
	--gray-3: #D3E2E5;
	--gray-dark-1: #8FA7B2;
	--gray-dark-2: #5C8599;
	--red: #FF7474;
	--red-dark: #EC6161;
	--green: #4ED1B3;
	--green-dark: #35B89A;
	--light-purple: #a055a5;
	--blue: #63CAF6;
	--blue-dark: #56BDE9;
	--yellow: #eecb2d;
}

@media(max-width: 1080px) {
	html {
		font-size: 93.75% !important;
	}
}

@media(max-width: 720px) {
	html {
		font-size: 87.5% !important;
	}
}

body {
	background: var(--background) !important;
	color: var(--gray-dark-1) !important;
}

body, input, textarea, button {
	font: 1rem 'Nunito', sans-serif !important;
}

button {
	cursor: pointer !important;
}

a {
	color: inherit !important;
	text-decoration: none !important;
}

.uppercase-text {
	text-transform: uppercase !important;
}

.container {
	line-break: auto !important;
	word-break: break-word !important;
}

.form {
	display: flex !important;
	width: 100% !important;
	justify-content: space-between !important;
	flex-wrap: wrap !important;
}