@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

:root {
	--white: #FFFFFF;
	--background: #EBF2F5;
	--text-highlight: #b3b9FF;
	--black: #4D6F80;
	--gray-light: #F5F8FA;
	--gray: #EAEEF0;
	--gray-medium: #D3E2E5;
	--gray-dark: #8FA7B2;
	--red: #FF7474;
	--red-dark: #EC6161;
	--green: #4ED1B3;
	--green-dark: #35B89A;
	--blue: #63CAF6;
	--blue-dark: #56BDE9;
}

@media(max-width: 1080px) {
	html {
		font-size: 93.75%;
	}
}

@media(max-width: 720px) {
	html {
		font-size: 87.5%;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--background);
	color: var(--gray-dark);
}

body, input, textarea, button {
	font: 1rem 'Nunito', sans-serif;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}
